body{
    background-color: teal;
}
.nav-link{
    display: flex;
    background-color: black;
    margin-top: -20px;
    margin-left: -8px;
    position: fixed;
    width: 100%;
}
#links{
  display: flex;
  margin-left: 900px;
}
#links li{
    list-style: none;
}
#links li a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    
}
#links li a:hover{
    text-decoration: underline;
    color: indigo;
}